body {
  font-family: sans-serif;
  background: #222226;
  margin: 0;
}

html, body {
  height: 100%;
}

section#upload {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

label.upload-button {
  display: block;
  padding: 2rem 4rem;
  border-radius: 4px;
  background: #579;
  color: #ddd;
  transition: background 0.15s;
}

section#upload p {
  margin-top: 3rem;
  color: #888;
  text-align: center;
  font-size: 10pt;
}

.upload-button:hover {
  background: #68a;
}

input[type=file] {
  display: none;
}

section#viewer {
  display: none;
  height: 100%;
}

.viewer-header {
  background: #aaa;
  padding: 1rem;
}

.code {
  font-family: monospace;
  margin: 1rem;
  color: #ccc;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 2rem;
}

.object, .xref, .trailer, .startxref {
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 6px;
  background: #333337;
}

.data {
  margin: 0 1rem;
}

ul.array-items.singleline li {
  display: inline-block;
  margin-right: 0.3rem;
  background-color: #2a2a33;
  padding: 0 0.2rem;
}

.indirect-reference-object {
  background: #4c4c5c;
  padding: 0 0.25rem;
}

.header {
  color: pink;
}

.dictionary-marker, .array-marker {
  color: lightcyan;
}

.name-object {
  color: #aaa;
}

.number-object {
  color: lightgreen;
}

.literal-string-object, .hex-string-object {
  color: yellow;
}

.boolean-object, .null-object {
  color: orange;
}

.comment {
  color: #bbb;
}

.explanation {
  float: right;
  text-align: right;
  color: #777;
}

a {
  color: lightblue;
}

.obj-stm-header {
}

.obj-stm-object-header {
  margin-top: 1rem;
}

.inline-explanation {
  color: #777;
}

.references a {
  color: inherit;
}
